// defines styles for the error page component
// file: //src/components/pages/error-page.scss

.error_page_container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 100vw;
  height: 100vh;
}

.spacer {
  height: 43vh;
}
