.email-input {
  width: 200px;
  padding: 0.5em;
  border-radius: 0.5em;
}

.signup-btn {
  text-align: left;
}

.signup-spacer {
  height: 10vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .signup-btn {
    padding-top: 1em;
    text-align: center;
  }

  .signup-spacer {
    height: 5vh;
  }
}
