@media screen and (min-width: 769px) {
  .review_card_outer_container {
    padding-top: 25px;
    width: 575px;
    min-height: 350px;
    margin: 0 auto;
  }

  .review_card_inner_container {
    // padding: 25px;
    width: 500px;
    min-height: 300px;
    background-color: aliceblue;
    border-radius: 1.25em;
    margin: 0 auto;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .review_author {
    color: black;
    font-size: 1.75em;
  }

  .review_body {
    color: black;
    font-size: 1.25em;
  }

  .review_date {
    color: black;
  }

  .review_job_title {
    color: black;
    font-size: 1.25em;
  }

  .col_2 {
    text-align: left;
  }

  .spacer {
    height: 1em;
  }
}

@media screen and (max-width: 768px) {
  .review_card_outer_container {
    padding-top: 10px;
    width: 100dvw;
    min-height: 350px;
  }

  .review_card_inner_container {
    // padding: 25px;
    padding-bottom: 5px;
    width: 80vw;
    min-height: 300px;
    background-color: aliceblue;
    border-radius: 1em;
    margin: 0 auto;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .review_author {
    color: black;
    font-size: 1.75em;
  }

  .review_body {
    color: black;
    font-size: 1.25em;
  }

  .review_date {
    color: black;
  }

  .review_job_title {
    color: black;
    font-size: 1.25em;
  }

  .col_2 {
    text-align: left;
  }

  .spacer {
    height: 0.75em;
  }
}
