.dash-outlet-container {
  width: 100%;
  height: 100%;
}

.dash-container {
  background-color: var(--BG-DASH-LIGHT);
  min-height: 100vh;
}

.sidebar-hide-btn {
  position: fixed;
  top: 95vh;
  left: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: height 0.5s, top 0.5s, left 0.25s;
}

.sidebar-hide-btn-hidden {
  position: fixed;
  top: 95vh;
  left: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: height 0.5s, top 0.5s, left 0.25s;
  /* background-color: rgb(229, 140, 140); */
}

.btn:hover {
  background-color: var(--TABLE-SELECTED-ROW);
  color: black;
}

.outlet-col-closed {
  margin: 0 auto;
  width: 75vw !important;
}

.outlet-col-open {
  margin: 0 auto;

  width: 90vw !important;
}

.menu-col-closed {
  width: 5vw !important;
}

.menu-col-open {
  width: 20vw !important;
}
