.card {
  height: 20vh !important;
  width: 25vw;
}

.card-color-1 {
  width: 100%;
  height: 10px;
  background-color: var(--color-one);
}

.card-color-2 {
  width: 100%;
  height: 10px;
  background-color: var(--color-two);
}

.card-color-3 {
  width: 100%;
  height: 10px;
  background-color: var(--color-three);
}

.card-color-4 {
  width: 100%;
  height: 10px;
  background-color: var(--color-four);
}

.small-card-1 {
  border-radius: 0.5rem;
  background-color: var(--color-one);
  color: white;
  text-align: center;
  width: 100px;
}

.small-card-2 {
  border-radius: 0.5rem;
  background-color: var(--color-two);
  color: white;
  text-align: center;
  width: 100px;
}
.small-card-3 {
  border-radius: 0.5rem;
  background-color: var(--color-three);
  color: white;
  text-align: center;
  width: 100px;
}
.small-card-4 {
  border-radius: 0.5rem;
  background-color: var(--color-four);
  color: white;
  text-align: center;
  width: 100px;
}

.home-page-container {
  width: 80vw;
}

.card-button-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.card-button {
  width: 200px !important;
  height: 50px !important;
  background-color: #7db00e !important;
  border: #7db00e !important;
}
