.parts-search-bar {
  background-color: var(--BG-DASH-DARK);
  /* border-top: var(--TABLE-BORDER); */
  border-bottom: var(--TABLE-BORDER);
  /* margin: 1rem; */
  padding: 1rem;
  height: 125px;
  width: 100%;
}

.parts-search-input {
  border: var(--TABLE-BORDER);
  width: 100%;
  height: 40px;
  border-radius: 0.125rem;
  padding-left: 0.5rem;
}

.parts-status-dropdown {
  border: 1px solid grey !important;
  width: 100%;
  height: 40px;
  background-color: white !important;
  text-align: left;
  border-radius: 0;
}

.parts-status-dropdown:hover {
  color: white !important;
  background-color: var(--color-one) !important;
}

.parts-status-dropdown-menu {
  width: 225px;
  height: auto;
  background-color: aliceblue;
  text-align: left;
  border-radius: 0;
}

.parts-container {
  border: var(--TABLE-BORDER);
  width: 100%;
}

.part-number {
  width: 125px;
}

.part-name {
  width: 200px;
}

.part-type {
  width: 100px;
}

.part-description {
  width: 900px;
}

.part-qty {
  width: 50px;
  text-align: center;
}
.part-backqty {
  width: 50px;
  text-align: center;
}

.part-edit {
  width: 50px;
}

.part-list-row:hover {
  background-color: var(--TABLE-SELECTED-ROW);
  cursor: pointer;
}
