// change the theme
$theme-colors: (
  "primary": rgb(255, 255, 255),
  "dark": #0c71f6,
  "light": #e0fbfc,
  "danger": #e9c46a,
  "bg-dark": red,
);

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: red;
}

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";
