.landing-one {
  background-image: url("https://res.cloudinary.com/dv6keahg3/image/upload/v1689524251/ElectronicsInventory/frontend_ui_images/background_1_crnuep.png");
  background-size: cover;
  min-height: 80vh;
  min-height: 80dvh;
  // height: 100vh;
  // height: 100dvh;
  background-repeat: no-repeat;
  width: 100vw;
  width: 100dvw;
  padding: 0;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.landing-header-1 {
  font-family: "Gloock", serif;
  font-size: 4rem;
  font-size: clamp(4rem, calc(3.25rem + 3.75vw), 7rem);
  font-size: clamp(4rem, calc(3.25rem + 3.75dvw), 7rem);
}

.landing-header-2 {
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, calc(1.125rem + 1.875vw), 3rem);
  font-size: clamp(1.5rem, calc(1.125rem + 1.875dvw), 3rem);
  padding-top: 1em;
  padding-bottom: 1em;
  width: 85%;
  text-align: left;
}

.landing-header-3 {
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, calc(1.125rem + 1.875vw), 3rem);
  font-size: clamp(1.5rem, calc(1.125rem + 1.875dvw), 3rem);
  padding-bottom: 1rem;
}

.landing-header-1-inline {
  font-family: "Figtree", sans-serif;
  font-size: 7.25rem;
  font-size: clamp(4rem, calc(3.25rem + 3.75vw), 7rem);
  font-size: clamp(4rem, calc(3.25rem + 3.75dvw), 7rem);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .customer-reviews {
    z-index: 10;
  }

  .landing-three {
    position: relative;
    z-index: 1;
    // background-color: rgba($color: white, $alpha: 0.3);
    // background-image: url("/img/background_3.png");
    // background-size: cover;
    // opacity: 0.95;
  }

  .landing-two {
    padding: 0;
    margin: 0;
  }

  .cube-one {
    height: 75vh;
    height: 75dvh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    height: 75dvh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    height: 75dvh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    height: 75dvh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 2.5vh;
    height: 2.5dvh;
  }

  .landing-one-row {
    width: 100vw;
    width: 100dvw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text-light {
    color: var(--TEXT-LIGHT);
  }

  .landing-one-text-dark {
    color: var(--TEXT-DARK);
  }

  .spacer_small {
    height: 5vh;
    height: 5dvh;
  }

  .spacer_medium {
    height: 15vh;
    height: 15dvh;
  }

  .spacer {
    height: 15vh;
    height: 15dvh;
  }

  .spacer_large {
    height: 100vh;
    height: 100dvh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
    width: 90dvw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }

  .landing-one-image-light {
    border: var(--color-two) solid 2px;
    width: 100%;
  }

  .landing-one-image-dark {
    border: white solid 2px;
    width: 100%;
  }

  .btn-signup-light {
    background-color: var(--color-three);
    border: var(--color-three) solid 1px;
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-signup-dark:hover {
    background-color: var(--color-three);
    border: white solid 1px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .customer-reviews {
    z-index: 10;
  }

  .landing-three {
    position: relative;
    z-index: 1;
    // background-color: rgba($color: white, $alpha: 0.3);
    // background-image: url("/img/background_3.png");
    // background-size: cover;
    // opacity: 0.95;
  }

  .landing-two {
    padding: 0;
    margin: 0;
  }

  .cube-one {
    height: 75vh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 2.5vh;
  }

  .landing-one-row {
    width: 100vw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text-light {
    color: var(--TEXT-LIGHT);
  }

  .landing-one-text-dark {
    color: var(--TEXT-DARK);
  }

  .spacer_small {
    height: 5vh;
  }

  .spacer_medium {
    height: 20vh;
  }

  .spacer {
    height: 15vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }

  .landing-header-1-inline {
    font-size: 7.25rem;
    font-family: "Figtree", sans-serif;
  }

  // .landing-header-1 {
  //   font-family: "Gloock", serif;
  //   font-size: 4rem;
  // }

  // .landing-header-2 {
  //   padding-top: 1em;
  //   padding-bottom: 1em;
  //   font-family: "Figtree", sans-serif;
  //   width: 85%;
  //   text-align: left;
  // }

  // .landing-header-3 {
  //   font-size: 2.75em;
  //   font-family: "Figtree", sans-serif;
  //   padding-bottom: 1em;
  // }

  .landing-one-image-light {
    border: var(--color-two) solid 2px;
    width: 100%;
  }

  .landing-one-image-dark {
    border: white solid 2px;
    width: 100%;
  }

  .btn-signup-light {
    background-color: var(--color-three);
    border: var(--color-three) solid 1px;
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-signup-dark:hover {
    background-color: var(--color-three);
    border: white solid 1px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .customer-reviews {
    z-index: 10;
  }

  .landing-three {
    position: relative;
    z-index: 1;
    // background-color: rgba($color: white, $alpha: 0.3);
    // background-image: url("/img/background_3.png");
    // background-size: cover;
    // opacity: 0.95;
  }

  .landing-two {
    padding: 0;
    margin: 0;
  }

  .cube-one {
    height: 75vh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 2.5vh;
  }

  .landing-one-row {
    width: 100vw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text-light {
    color: var(--TEXT-LIGHT);
  }

  .landing-one-text-dark {
    color: var(--TEXT-DARK);
  }

  .spacer_small {
    height: 5vh;
  }

  .spacer_medium {
    height: 20vh;
  }

  .spacer {
    height: 15vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }

  .landing-header-1-inline {
    font-size: 7.25rem;
    font-family: "Figtree", sans-serif;
  }

  // .landing-header-1 {
  //   font-family: "Gloock", serif;
  //   font-size: 4rem;
  // }

  // .landing-header-2 {
  //   padding-top: 1em;
  //   padding-bottom: 1em;
  //   font-family: "Figtree", sans-serif;
  //   width: 85%;
  //   text-align: left;
  // }

  // .landing-header-3 {
  //   font-size: 2.75em;
  //   font-family: "Figtree", sans-serif;
  //   padding-bottom: 1em;
  // }

  .landing-one-image-light {
    border: var(--color-two) solid 2px;
    width: 100%;
  }

  .landing-one-image-dark {
    border: white solid 2px;
    width: 100%;
  }

  .btn-signup-light {
    background-color: var(--color-three);
    border: var(--color-three) solid 1px;
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-signup-dark:hover {
    background-color: var(--color-three);
    border: white solid 1px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .customer-reviews {
    z-index: 10;
  }

  .landing-three {
    position: relative;
    z-index: 1;
    // background-color: rgba($color: white, $alpha: 0.3);
    // background-image: url("/img/background_3.png");
    // background-size: cover;
    // opacity: 0.95;
  }

  .landing-two {
    padding: 0;
    margin: 0;
  }

  .cube-one {
    height: 75vh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 2.5vh;
  }

  .landing-one-row {
    width: 100vw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text-light {
    color: var(--TEXT-LIGHT);
  }

  .landing-one-text-dark {
    color: var(--TEXT-DARK);
  }

  .spacer_small {
    height: 5vh;
  }

  .spacer_medium {
    height: 20vh;
  }

  .spacer {
    height: 15vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }

  .landing-header-1-inline {
    font-size: 7.25rem;
    font-family: "Figtree", sans-serif;
  }

  // .landing-header-1 {
  //   font-family: "Gloock", serif;
  //   font-size: 4rem;
  // }

  // .landing-header-2 {
  //   padding-top: 1em;
  //   padding-bottom: 1em;
  //   font-family: "Figtree", sans-serif;
  //   width: 85%;
  //   text-align: left;
  // }

  // .landing-header-3 {
  //   font-size: 2.75em;
  //   font-family: "Figtree", sans-serif;
  //   padding-bottom: 1em;
  // }

  .landing-one-image-light {
    border: var(--color-two) solid 2px;
    width: 100%;
  }

  .landing-one-image-dark {
    border: white solid 2px;
    width: 100%;
  }

  .btn-signup-light {
    background-color: var(--color-three);
    border: var(--color-three) solid 1px;
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-signup-dark:hover {
    background-color: var(--color-three);
    border: white solid 1px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .customer-reviews {
    z-index: 10;
  }

  .landing-three {
    position: relative;
    z-index: 1;
    // background-color: rgba($color: white, $alpha: 0.3);
    // background-image: url("/img/background_3.png");
    // background-size: cover;
    // opacity: 0.95;
  }

  .landing-two {
    padding: 0;
    margin: 0;
  }

  .cube-one {
    height: 75vh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 2.5vh;
  }

  .landing-one-row {
    width: 100vw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text-light {
    color: var(--TEXT-DARK);
  }

  .landing-one-text-dark {
    color: var(--TEXT-DARK);
  }


  .spacer_small {
    height: 5vh;
  }

  .spacer_medium {
    height: 20vh;
  }

  .spacer {
    height: 15vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }

  .landing-header-1-inline {
    font-size: 7.25rem;
    font-family: "Figtree", sans-serif;
  }

  // .landing-header-1 {
  //   font-family: "Gloock", serif;
  //   font-size: 4rem;
  // }

  // .landing-header-2 {
  //   padding-top: 1em;
  //   padding-bottom: 1em;
  //   font-family: "Figtree", sans-serif;
  //   width: 85%;
  //   text-align: left;
  // }

  // .landing-header-3 {
  //   font-size: 2.75em;
  //   font-family: "Figtree", sans-serif;
  //   padding-bottom: 1em;
  // }

  .landing-one-image-light {
    border: var(--color-two) solid 2px;
    width: 100%;
  }

  .landing-one-image-dark {
    border: white solid 2px;
    width: 100%;
  }

  .btn-signup-light {
    background-color: var(--color-three);
    border: var(--color-three) solid 1px;
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-signup-dark:hover {
    background-color: var(--color-three);
    border: white solid 1px;
  }
}
