.navbar-dark {
  border-bottom: RGBA(255, 255, 255, 0.8) 2px solid !important;
}

.navbar-light {
  border-bottom: var(--color-two) 2px solid;
}

@media screen and (max-width: 768px) {
  .header_container {
    width: 100vw;
    height: 10vh;
  }

  .header_text {
    color: white;
    font-size: 1.5em;
    padding-top: 0.25em;
  }

  .header_icon {
    width: 40px;
    height: 40px;
  }

  .navbar-brand {
    padding: 0px;
  }

  .nav-link-light {
    padding-left: 1em;
    padding-right: 1em;
  }

  .nav-link-dark {
    padding-left: 1em;
    padding-right: 1em;
  }

  .navbar-login {
    opacity: 0.99;
    background-color: #161a1d;
    z-index: 10;
    position: fixed;
    /* // min-height: 50px;
    // max-height: 50px; */
    width: 100%;
    /* // border-bottom: 1px solid var(--BORDER-COLOR); */
  }

  .link_text {
    color: rgb(159, 159, 159);
  }
  .link_text:hover {
    color: rgb(180, 180, 180);
  }

  .logo_text {
    font-family: "Figtree", sans-serif;
    margin: 0;
    font-size: 2em;
  }

  .nav-item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .dash-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--BGCOLOR);
    padding: 0 0.5em;
    border-bottom: 1px solid var(--BORDER-COLOR);
    /* // height: 200px; */
  }

  .hero-link:hover {
    background-color: RGBA(256, 256, 256, 0.1);
    border-radius: 0.25em;
  }
}

@media screen and (min-width: 769px) {
  .header_container {
    width: 100vw;
    height: 10vh;
  }

  .header_text {
    color: white;
    font-size: 1.5em;
    padding-top: 0.25em;
  }

  .header_icon {
    width: 40px;
    height: 40px;
  }

  .navbar-brand {
    padding: 0px;
  }

  .nav-link-light {
    padding-left: 1em;
    padding-right: 1em;
  }

  .nav-link-dark {
    padding-left: 1em;
    padding-right: 1em;
  }

  .navbar-login {
    opacity: 0.99;
    z-index: 10;
    position: fixed;
    width: 100%;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    /* // min-height: 50px;
    // max-height: 50px;
    // border-bottom: 1px solid var(--BORDER-COLOR); */
  }

  .nav-bg-light {
    background-color: #ffffff;
  }

  .nav-bg-dark {
    background-color: #161a1d;
  }

  .link_text {
    color: rgb(159, 159, 159);
  }
  .link_text:hover {
    color: rgb(180, 180, 180);
  }

  .login_text {
    font-family: "Figtree", sans-serif;
    margin: 0;
    font-size: 1.25em;
  }

  .nav-item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .animated-logo {
    width: fit-content;
  }

  .btn-signup-light {
    background-color: var(--color-three);
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-login-dark {
    background-color: var(--color-one);
    border: var(--color-one) solid 1px;
    color: white;
  }

  .btn-signup-dark:hover {
    background-color: white;
    border: white solid 1px;
  }

  .btn-login-light {
    background-color: var(--color-one);
    color: #ffffff;
  }

  .btn-login-light:hover {
    background-color: white;
    border: var(--color-one) solid 1px;
  }

  .btn-login-dark:hover {
    background-color: white;
    border: white solid 1px;
    color: black;
  }

  .dash-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--BGCOLOR);
    padding: 0 0.5em;
    border-bottom: 1px solid var(--BORDER-COLOR);
    /* // height: 200px; */
  }

  .hero-link:hover {
    background-color: RGBA(256, 256, 256, 0.1);
    border-radius: 0.25em;
  }
}
